<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <h1 routerLink="home">Home</h1>
        <h1 routerLink="about">About</h1>
        <button (click)="logout()">Logout</button>
        <br>
        <button routerLink="data-binding">Databinding</button>
        <br>
        <button routerLink="calculator">Calculator</button>
        <br>
        <button routerLink="rectangle">Rectangle</button>
        <br>
        <button routerLink="circle">Circle</button>
        <br>
        <button routerLink="bmi">BMI</button>
        <br>
        <button routerLink="products">Products</button>
        <br>
        <button routerLink="vehicles">Vehicles</button>
        <br>
        <button routerLink="cars">Cars</button>
        <br>
        <button routerLink="myntra">Myntra</button>
        <br>
        <button routerLink="cars1">Cars1</button>
        <br>
        <button routerLink="accounts">Accounts</button>
        <br>
        <button routerLink="flipkart">Flipkart</button>
        <br>
        <button routerLink="mails">Mails</button>
        <br>
        <button routerLink="create-car">create-car</button>
        <br>
        <button routerLink="create-account">create-account</button>
        <br>
        <button routerLink="hooks">Hooks</button>
        <br>
        <button routerLink="create-user">Create-user</button>
        <br>
        <button routerLink="formtask">Formtask</button>


    </div>
    <div class="right">

        <router-outlet></router-outlet>

    </div>

</div>